a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.tadoBrand-color{
  color: white;
  justify-content: "center";
  display: "flex";
  flex: 1;
  align-items: center;
}

.tadoBar-color{
  background-color: rgb(90,106,149);
  max-height: 55px;
}

.tadoBarLButton{
  color: white;
}

.tadoBarUser-size{
  height: 40px;
  width: 45px;
}
.left-bar {
  position: relative;
  left: -50px;
}

.right-bar {
  position: relative;
  right: -50px;
}