.mainBlob-pos {
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 110px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.leftBlob-pos{
    background-repeat: no-repeat;
    background-size: contain;
    width: 0px;
    height: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}