.mainBlob-pos {
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 140px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.leftBlob-pos{
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}