.map-canvas {
    background-color: #FAEEE7;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1423px;
    height: 800px;
    resize: both;
    position: absolute;
    transform-origin:  top;
}